
input {
  padding: 20px;
}
.navbar {
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 3px;

}
.container-fluid {
  padding-top: 50px;
}
.card {
  padding: 2px;
  shape-outside: polygon();
}
.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 5;
  }
}
